/* Ook geschreven met AI */
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar div {
    margin-left: 20px;
}

.navbar ul {
    display: flex;
}

ul li {
    list-style: none;
    margin: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: rgb(128, 127, 127);
    text-decoration: underline;
}

ul li a:active {
    color: rgb(75, 74, 74);
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    padding-bottom: 15px;
}

#footer-links {
    display: flex;
    justify-content: center;
}

footer ul {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

footer p {
    text-align: center;
}