{% extends "layout.html" %}

{% block title %}
    Project Create 
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/form.css">

{% endblock %}

{% block main %}
    <div id="container">
        <div id="wrapper">
        <h2>Update Project</h2>
        <form action="/edit/project" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{project[0][0]}}">
            <input type="text" name="title" placeholder="Title" value="{{project[0][1]}}" id="" required>
            <textarea name="body" placeholder="body" id="">{{project[0][2]}}</textarea required>
            <input type="submit" value="Update Project">
        </form>
        {% for msg in get_flashed_messages() %}
            <p class="flash">{{ msg }}</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}